*{
    margin: 0;
    padding: 0;
}


.navitem{
    
    font-size: 15px;
    gap: 1rem;
    text-decoration: none;
}
.navlink{
    text-decoration: none;
    color: orange;
    cursor: pointer; 
   
}
.navlinkhome{
    text-decoration: none;
    color: orange;
    cursor: pointer; 
    margin-left: 30px;
  
}
ul{
    list-style: none;
    text-decoration: none;
}
nav{
   padding: 10px;
  background-color: black;
}
.h1{
    color: orange;
}
.niya{
     color: orange;
     margin-left: 20px;

}
.homespan{
    color: white;
    font-size: 20px;
}